/* 
Stylesheet for CS202 
* version:1.0
* last-modified: 4.5.2021
* author: Dawson Gyllenhammer
* email: dggyllenhammer@gmail.com
* website: Lesson 3, CSS
*/ 

/*
1 variables
2 body
3 header
4 banner
5 main
6 footer

*/
//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
//import google fonts

$main-color: #05a081;
$text-color: #fff;
$bg-color: #eee;
$bg-color-2: #333;

body{
    font{
        family: 'Nunito', sans-serif;
        //size: 18px;
        size: 1r.2em;
    }
}

header{
    width: 100%;
    background: transparent;
    position: absolute;
}

.banner{
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
}

nav{
    text-align: center;
    a{
        text-decoration: none;
        display: inline-block;
        padding: 1em 2em;
        color: $text-color;
    }
}

main{
    background-color: $bg-color;
}

.sideleft{
    width: 30%;
    float: left;
}

.sideright{
    width: 60%;
    float: right;
}

.box{
    width: 30%;
    float: left;
    padding: 2em;
    color: $text-color;
}

.box .fas{
    font-size: 2rem;
}

footer{
    width: 100%;
    text-align: center;
}

//custom
.margin{
    padding: 4rem 0;
}

.bg-color{
    background-color: $bg-color-2;
    overflow: hidden;
}