/* 
Stylesheet for CS202 
* version:1.0
* last-modified: 4.5.2021
* author: Dawson Gyllenhammer
* email: dggyllenhammer@gmail.com
* website: Lesson 3, CSS
*/ 

/*
1 body
2 nav
3 main
4 footer

*/

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//import a partial

@import "button" ;

//scss variables
$primary: #05a081;
$second: #fffef0;
$text-color: black;
$margin: 22px;

body{
    background-color: $second !important;
}

h2, h3 {
    color: $primary;
    margin: $margin/2;
}

p{
    //font
    /*font-family: Arial;
    font-style: regular;
    font-weight: bold;
    line-height: 200%;
    text-transform: uppercase;
    font-size: 18px; */

    //font shorthand
    //font-style font-variant font-weight 
    //font-size/line-height font-family

    font: regular bold 18px/200% Arial;
    
    //nesting properties
    font: {
        style: regular;
        weight: bold;
        size: 18px;
        family: Arial;
    }

   // text:{
   //     transform: uppercase;
   // }

}

//nesting elements

nav{
    text-align: center;
    a{
        text-decoration: none;
        color: $primary;
        display: inline-block;
        padding: 1em 2em;

        font: {
            weight: bold;
            size: 1.1rem;
        }
    }
}